**
!requirements.txt
!package.json
!package-lock.json
!python/
!python/**
!.claude/
!.claude/**
!.mcp.json
!deploy/
!deploy/*.py
!deploy/*.sh
!deploy/*.sources
!deploy/*.conf
!deploy/vendor/
!deploy/vendor/officecli/
!deploy/vendor/officecli/officecli-linux-x64
!deploy/vendor/officecli/LICENSE
!deploy/data-access.example.json
!deploy/compose*.yaml
!config/
!config/databases.json
**/__pycache__/
**/*.pyc
**/node_modules/
**/.env
**/.env.*
**/*.env
**/*.env.*
**/*.pem
**/*.key
**/*.secret
**/*.secret.json
**/*.secret.b64
deploy/data-access.json
**/*.log
**/settings.local.json
**/~$*.docx
